section#contact-info p {
	font-size: .8em;
}

.job  {
	background-color: #e9e5dc;
	border-radius: 25px;
	padding: 10px;
	margin-top: 5px;
	margin-bottom: 5px;
}

.list-item {
	font-size: .8em;
}

h1::first-letter {
    color: #ff0000;
    font-size: xx-large;
}

section > ul { 
    background-color: yellow;
}
