.makeover-wrapper {
  position: relative;
}

#octopus {
	position: absolute;
	margin: 200px 600px 0px 600px;
}

#hat {
	position: absolute;
	top: 125px;
	left: 580px;
	z-index: 1
}

#glasses {
	position: absolute;
	top: 299px;
	left: 641px;
	z-index: 1
}


